fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
pyjwt
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
apscheduler
langchain
langchain-ollama
langchain-community
langchain-text-splitters
faiss-cpu
streamlit
requests
pandas
pytest
httpx
